<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>CategoriasListas</title>
    <style>
           td{
               border: solid 1px rgb(255, 255, 255);
               background-color: rgb(129, 129, 129);
           }
           th{
               font-family: Arial, Helvetica, sans-serif; 
               width: 150px;
               background-color: rgb(20, 20, 20);
           }
           body{
               background-color: rgb(241, 240, 240);
           }
           table{
               margin: auto;
           }
    </style>
</head>
<body>
    <body>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Sobrado</th>
                <th scope="col">Bangalô</th>
                <th scope="col">Édicula</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>R$1.500</td>
                <td>R$12.000</td>
                <td>R$1.490</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>R$2.000</td>
                <td>R$8.000</td>
                <td>R$3.000</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>R$500</td>
                <td>R$300</td>
                <td>R$450</td>
              </tr>
            </tbody>
          </table>
          
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Apartamento</th>
                <th scope="col">Flats</th>
                <th scope="col">Studios</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>R$800</td>
                <td>R$900</td>
                <td>R$5500</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>R$779</td>
                <td>R$354</td>
                <td>R$950</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>R$460</td>
                <td>R$650</td>
                <td>R$1.300</td>
              </tr>
            </tbody>
          </table>